@import 'mixins'

.search-wrapper
  +prdb
  +box-sizing
  +square(100%)
  overflow: hidden
  border: 1px solid $magenta

  input
    +prdb
    +box-sizing
    +square(inherit)
    font-size: 1rem
    // line-height: calc(100% + 1px)
    padding: 0 12% 0 2%
    vertical-align: middle
    border: 0
    outline: 0

  .status-wrap
    +padb
    +box-sizing
    width: 10%
    height: 200%
    right: 2%
    top: -100%
    overflow: hidden

    .status
      +prdb
      +box-sizing
      height: 50%
      width: 100%
      background-position: center
      background-size: contain
      background-repeat: no-repeat

      &.spinner
        background-image: url('../img/spinner.gif')

      &.magnifying-glass
        background-image: url('../img/magnifying-glass.svg')
        +opacityz(0.8)
        cursor: pointer

        &:active, &:hover
          +opacityz(1)

  &.searching
    .status-wrap
      top: 0%




