@import 'mixins'

html
  color: white
  font-size: 22px
  padding: 0
  height: 100%

  *
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important
    -webkit-font-smoothing: antialiased
    outline: 0

  @media (min-width: 768px)
    font-size: 18px

  @media (min-width: 992px)
    font-size: 17px

body, html
  +box-sizing
  margin: 0
  width: 100%
  height: 100%
  background-color: $weird_black

h1,h2,h3,h4,h5,h6
  +title-font

h1, h2, h3, h4, p
  +no-select

h1
  font-weight: 600
  color: $orange

  @media (min-width: 992px)
    font-size: 4rem


p
  +body-font
  font-size: 1rem

.no-marg-bot
  margin-bottom: 0

.no-marg-top
  margin-top: 0

ul, li 
  list-style: none
  list-style-type: none
  padding: 0
