@import 'global'

// Header
header
  +prdb
  +box-sizing
  +ontop
  width: 100%
  height: auto
  padding: 1rem 5% 2rem 5%
  border-bottom: 4px solid $orange

  h1
    +prdb
    width: 100%
    margin: 0
    text-align: center

  .search-wrapper
    +prdb
    width: 100%
    height: 2rem
    margin: 1rem 0 0 0

.red-bar
  +dn

.content-wrap
  +prdb
  width: 100%
  min-height: 100%
  overflow: hidden


  // Carousel
  #carousel-1
    +prdb
    +box-sizing
    width: 100%
    height: 320px
    border-bottom: 4px solid white

    .share-content
      +dn

    .arrows
      +dn

    .swiper-wrapper
      +square(100%)

    .swiper-slide
      height: 100%
      background-color: $weird_black

      .slide-image 
        +prdb
        width: 100%
        height: calc(100% - 3rem)
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        +ontop

      p.credit
        +padb
        left: 0
        bottom: 0
        line-height: 2rem
        font-size: 0.8rem
        width: 100%
        text-align: center
        margin: 0 auto

    
  ul#results-grid-1
    +prdb
    +box-sizing
    width: 90%
    height: auto
    margin: auto

    li.grid-photo
      +prdib
      +box-sizing
      background-size: cover
      background-position: center
      background-repeat: no-repeat
      width: 45%
      padding-top: 35%
      margin: 2.5%
      border: 1px solid black
      cursor: pointer

      -webkit-transition: 0.6s ease -webkit-opacity
      -moz-transition: 0.6s ease -moz-opacity
      -ms-transition: 0.6s ease -ms-opacity
      -o-transition: 0.6s ease -o-opacity
      transition: 0.6s ease opacity

      &:nth-child(2n+2)
        margin-right: 0

      &.lazyload
        +opacityz(0)

      &.lazyloaded
        +opacityz(1)      

      &:hover, &:active
        +opacityz(0.7)
        border: 1px solid $orange


  #pagination-1
    +prdb
    margin: 0 auto 3rem auto
    padding: 0
    width: 100%
    height: 2rem

    ul.pagination-list
      +prdb
      max-width: 400px
      height: 100%
      margin: 0 auto 3rem auto
      padding: 0

      li
        +prdib
        margin: 0
        padding: 0
        width: 10%
        height: 2rem
        text-align: center
        line-height: 2rem
        vertical-align: middle

        a
          color: white
          +body-font
          text-decoration: none

        &.active
          a
            cursor: normal
            color: $orange

        &.disabled
          a
            cursor: not-allowed
            color: grey

        &:hover:not(.disabled)
          a
            text-decoration: underline
            color: $orange

@media screen and (min-width: 990px)

  .container
    width: 992px
    margin: auto

  // Header
  header
    background-color: $weird_black
    height: 7rem
    padding: 1rem 5% 2rem 5%
    border-bottom: 0

    h1
      +prdib
      width: auto
      margin: 0
      text-align: left

    #search-1
      +prdib
      float: right
      width: 350px
      height: 2rem
      margin: 2rem 0 0 0

  .red-bar
    +padb
    top: 0
    left: 0
    height: 50%
    width: 100%
    background-color: $magenta

  .content-wrap
    width: 992px
    margin: auto

    

    // Carousel
    #carousel-1
      +prdb
      +box-sizing
      width: 100%
      height: 500px
      border-bottom: 4px solid white

      .arrows
        +padn
        +square(60px)
        margin: -60px 0 0 0
        top: 50%
        background-image: url('../img/arrows_sprite.png')
        background-size: 120px 120px
        // border: 1px solid white
        +ontop
        cursor: pointer

        &.visible
          +db

        &.prev
          left: 5px
          background-position: 0 60px

          &:hover
            background-position: 0 0

        &.next
          right: 5px
          background-position: 60px 60px

          &:hover
            background-position: 60px 0

      .swiper-slide

        p.credit
          line-height: 3rem
          font-size: 0.8rem

      .swiper-slide
        .slide-image
          background-size: contain

      .share-content
        +padn
        bottom: 0
        right: 0
        height: 35px
        width: 57px
        overflow: visible
        +ontop

        &.visible
          +db

        .share-btn
          +prdb
          height: 100%
          width: 100%
          outline: 0
          border: 0
          margin: 0
          cursor: pointer
          background-image: url(../img/share-btn.jpg)
          background-size: 58px 70px
          background-position: 0 -35px

          &:hover
            background-position: 0 0


        .share-buttons
          +padb
          width: 232px
          height: 99px
          top: -94px
          right: -3px
          background-image: url('../img/share-pop.png')
          background-size: contain
          background-position: center
          background-repeat: no-repeat
          +ontop
          +opacityz(0)

          -webkit-transition: 0.3s ease all
          -moz-transition: 0.3s ease all
          -ms-transition: 0.3s ease all
          -o-transition: 0.3s ease all
          transition: 0.3s ease all

          -webkit-transform: translateY(-5px)
          -moz-transform: translateY(-5px)
          -ms-transform: translateY(-5px)
          -o-transform: translateY(-5px)
          transform: translateY(-5px)

        &:hover
          .share-buttons
            -webkit-transform: translateY(0)
            -moz-transform: translateY(0)
            -ms-transform: translateY(0)
            -o-transform: translateY(0)
            transform: translateY(0)
            -webkit-opacity: 1
            -moz-opacity: 1
            -ms-opacity: 1
            -o-opacity: 1
            opacity: 1

      
    ul#results-grid-1
      width: 100%
      padding: 4rem 0 0 0

      li.grid-photo
        +square(228px)
        padding: 0
        margin: 0 20px 20px 0
        
        &:nth-child(2n+2)
          margin-right: 20px

        &:nth-child(4n+4)
          margin-right: 0

    #pagination-1
      +prdb
      margin: 0 0 3rem 0
      width: 100%
      height: 4rem
      border-bottom: 4px solid white

      ul.pagination-list
        +prdb
        float: right
        max-width: 100%
        height: 2rem
        margin: 1rem 0
        padding: 0

        li
          +prdib
          margin: 10px
          padding: 0
          width: auto
          height: 2rem
          text-align: center
          line-height: 2rem
          vertical-align: middle

          a
            color: white
            +body-font
            text-decoration: none

          &.active
            a
              cursor: normal
              color: $orange

          &.disabled
            a
              cursor: not-allowed
              color: grey

          &:hover:not(.disabled)
            a
              text-decoration: underline
              color: $orange







