!!! 5

%html

  %head

    %title Flickr Search Module of Dreams

    / Meta
    %meta{charset: "utf-8"}
    %meta{name: "description", content: "Awesome Flickr Search Module of Dreams"}
    %meta{name: "author", content: "Joe Tuson, joe@tuson.co"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"}
    %meta{name: "msapplication-tap-highlight", content: "no"}
    
    / Styles
    %link{rel: "stylesheet", type: "text/css", href: "./css/flickr-search-module.min.css"}
    %link{rel: "stylesheet", type: "text/css", href: "./css/styles.css"}

    %body

      / Header
      %header
        
        .container
        
          %h1 Photos

          #search-1.search-wrapper

      .red-bar

      / Content
      .container.content-wrap

        #carousel-1.results-carousel-wrapper.swiper-container
          
        %ul#results-grid-1.results-list-wrapper

        #pagination-1.pagination-wrapper

      / Scripts
      %script{src: "./js/flickr-search-module.min.js"}
      %script{src: "./js/script.js"}